:root {
    --main-color: rgb(214, 214, 214);
    --secondary-color: rgb(169, 149, 255);
    --navbar-transition-speed: 0.5s;
    --background-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
}

#particles-js {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../resources/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header, .text, .welcome, .footer, .navbar{
    z-index: 1;
    padding: 20px;
    color: var(--main-color);;
    font-weight: bold;
    font-size: 1.5em;
}
.header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

    flex-basis: 100%;
}
.text {
    flex: 1;
    z-index: -1;
}
.welcome {
    font-size: 25px;
    margin: auto;
    margin-top: auto;
    width: 60%;
}
.logo {
    color: var(--main-color);
    transition: var(--navbar-transition-speed);
}
.footer {
    /*padding: 10px;*/
    /*bottom: 0;*/
    text-align: center;
    /*flex-basis: 100%;*/
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /*flex-shrink: 0;*/
    font-size: 15px;
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 600px) {
    .header,
    .text,
    .footer {
    flex-basis: 100%;
    }
}

.navbar {
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 2;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: width var(--navbar-transition-speed);

}

.navbar-menu {
    padding:0;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    color: var(--main-color);;
}

.navbar-link {
    list-style: none;
    color: var(--main-color);
    text-decoration: none;
    padding: 0;
    height: 5rem;
    width: 100%;
    transition: 0.25s;
}
.navbar-item:hover .navbar-icon{
    color: var(--secondary-color);
}
.navbar-icon {
    transition: var(--navbar-transition-speed);
    margin: 0 0.5rem 0.2rem;
    font-size: 1.5rem;
    min-width: 2rem;
}
.navbar-item {
    align-items: center;
    width: 100%;
    min-width: 2rem;
    padding: 1rem 0;
    padding-top: 2rem;
    font-size: 1.5rem;
}
.navbar-item:last-child{
    margin-top: auto;
}
.navbar-title {
    font-size: 2.8rem;
    margin-left: 2.5rem;
    font-weight: bold;
    text-align: justify;
    margin-left: -200px;
    display: inline;
    position: absolute;
    transition: var(--navbar-transition-speed);
}
.navbar:not(:hover) .navbar-link {
    color: rgba(0, 0, 0, 0)
}
.navbar:hover {
    width: 17rem;
}
.navbar:hover .logo {
    transform: translateX(12rem) rotate(-180deg) ;   
}
.navbar:hover .navbar-title {
    transform: translateX(225px);
}




/* ## Transition ## */

a i.description {
    pointer-events: none;
}
.transition {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: rgb(37, 50, 59);
    transition: 0.5s ease-out;
}
      
.transition.is-active {
    left: 0px;
}